{{event}} - {{name}} - {{odds.numerator}}/{{odds.denominator}}
<br>£<input type="text" placeholder="Stake" value="0.00" id="stake-value" /> <button id="remove-bet-button" class="remove-btn">Remove</button>