@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700);
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

$primary-font: 'Open Sans', sans-serif;
$secondary-font: 'Montserrat', sans-serif;
$red: #db0d17;

// Reset
*{
  box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
strong{
  font-weight: bold;
}
body{
  font-family: $primary-font;
  padding: 0 20px;
}
h1{
  font-family: $secondary-font;
  color: $red;
  display: inline-block;
  font-size: 3em;
  vertical-align: top;
  margin-top: 35px;
  font-weight: 600;
}
h2{
  font-size: 1.4em;
  font-weight: 600;
}
h3{
  font-size: 1.3em;
  margin: 10px 0;
}
button{
  padding: 5px 10px;
  background: #40d47e;
  border-radius: 6px;
  margin-top: -4px;
  border: none;
  color: #fff;
  cursor: pointer;
  &:active{
    outline: none;
  }
  &:hover{
    background-color: lighten(#40d47e, 10%);
  }
}
.markets{
  width: 600px;
  float: left;
  margin: 10px 20px 0 0;
  .market{
    padding: 10px 15px;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    &:first-child{
      border-top: 1px solid #ccc;
    }
    &:nth-child(odd){
      background: #ecf0f1;
    }
    button{
      float: right;
    }
    .bet-return{
      margin-top: 10px;
    }
  }
}
.slip{
  width: 500px;
  float: left;
  .clear-button{
    background: #e74c3c;
    margin-bottom:  10px;
    &:hover{
      background-color: lighten(#e74c3c, 10%);
    }
  }
  .bet-slip{
    margin-top: 10px;
    padding: 15px;
    box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.4);
    .slip-bet{
      padding:  15px 5px;
      border-bottom: 1px solid #ecf0f1;
      &:last-child{
        border-bottom: none;
      }
      .remove-btn{
        background: #e74c3c;
        &:hover{
          background-color: lighten(#e74c3c, 10%);
        }
      }
      input{
        width: 50px;
        margin-top: 10px;
      }
    }
    .bet-button{
      font-size: 1.2em;
      padding: 5px 15px;
    }
  }
}

.error-message{
  color: $red;
  display: none;
}